/* body{margin:0; padding:0; } */
*{font-family:sans-serif; }
html, body{background:#2b2b2b; color:#808080; }
a{color:#ff662b; text-decoration:none; }

#map{width:100%; height:calc(100vh - 40px); }
[flex]{margin:7px; }
[flex], [flex] span{display:flex; justify-content:center; align-items:center; }
[flex] > span{margin:0 7px; }

[legend-marker]{width:22px; height:22px; border:3px solid; border-radius:50%; box-sizing:border-box; margin:0 7px;
	background:#fff; box-shadow:0 0 1px 2px #fff; }
	[circledoticon]:before{content:''; border:5px solid; border-radius:50%; }

[success-wrapper]{display:flex; justify-content:center; align-items:center; height:100vh; }
	[success]{display:flex; flex-direction:column; justify-content:center; align-items:center; margin:auto auto;
		background:#333; padding:15px; line-height:1.75em; }


/* openLayer */
.custom-marker{border:2px solid #fff; border-radius:50%; padding:2px; }
.custom-marker > div{border:2px solid #fff; border-radius:50%; width:8px; height:8px; background:#fff; }
.custom-marker.b-2 > div{background:transparent; }

.custom-marker.b-1{background:#008000; }
.custom-marker.b-2{background:#ed4543; }
.custom-marker.b-3{background:#0e4779; }
.custom-marker.b-4{background:orange; }

.dead-zone{border:1px solid #000; background:#0003; border-radius:50%; width:200px; height:200px; }
